<!-- 继承父模板 -->
{{extend './layout/main.html'}}

<!-- 把坑填上 -->
{{block 'content'}}
    <div class="container">
        <div class="page-header">
            <h1><a href="/">我的音乐</a><small>--编辑音乐</small><h1>
        </div>
    </div>
    <div class="container">
        <form id="form" method="" action="">
                <input type="hidden" name="id" class="form-control" value="{{music.id}}">
            <div class="form-group">
                <label for="">歌曲标题</label>
                <input type="text" name="title" class="form-control" value="{{music.title}}" >
            </div>
            <div class="form-group">
                <label for="">歌曲时长</label>
                <input type="text" name="time" class="form-control" value="{{music.time}}" >
            </div>
            <div class="form-group">
                <label for="">歌手</label>
                <input type="text" name="singer" class="form-control" value="{{music.singer}}" >
            </div>
            <div class="form-group">
                <label for="">歌曲文件</label>
                <input type="file" name="file" data-value="{{music.file}}">
                <p class="help-block">请上传歌曲文件</p>
            </div>
            <div class="form-group">
                <label for="">歌词文件</label>
                <input type="file" name="file" data-value="{{music.filelrc}}">
                <p class="help-block">请上传歌词文件</p>
            </div>
            <button type="submit" class="btn btn-success">完成编辑</button>

        </form>
    </div>
    <script type="text/javascript">
        // 处理表单数据 传Id
        $('#form').on('submit',function(e){
            e.preventDefault();
            //$('form').serialize()不能解决文件上传
            //So 用HTML5的：new formData()  https://developer.mozilla.org/zh-CN/docs/Web/API/FormData/Using_FormData_Objects
            var inputs = document.querySelectorAll("#form input[name]");         
            var fd = new FormData();
                fd.append("id", inputs[0].value);
                fd.append("title", inputs[1].value);
                fd.append("time", inputs[2].value);
                fd.append("singer", inputs[3].value);
                // console.log(inputs);
                // 传文件对象的方式
                //(files这个属性是原生DOM的属性，jq获取的没有改属性)
                if(inputs[4].files[0] && !inputs[5].files[0]){
                    fd.append("file", inputs[4].files[0]);
                    fd.append("filelrc", inputs[5].dataset['value']);
                }else{
                    fd.append("file", inputs[4].files[0]);
                    fd.append("filelrc", inputs[5].files[0]);
                }
                $.ajax({
                  url: "/music/update-music",
                  type: "PUT",
                  data: fd,
                  dataType:"JSON",
                  processData: false,  // 不处理数据
                  contentType: false,  // 不设置内容类型
                  success:function(data){
                    if(data.code === "001"){
                        if(confirm(data.msg)){
                            window.location = '/music/index';
                        }
                    }else{
                        alert(data.msg);
                    }
                  } 
                });
            })
    </script>
{{/block}}