<!-- 继承父模板 -->
{{extend './layout/main.html'}}

<!-- 把坑填上 -->
{{block 'content'}}

    <style type="text/css">
         #pwd-level div {
        height: 10px;
        width: 30px;
        display: inline-block;
        float: left;
    }
    
    #pwd-level span {
        display: inline-block;
        float: left;
    }
    </style>
    <link href="/public/css/register.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
    </script>
    <div class="aw-register-box">
        <div class="mod-head">
            <a href="/"></a>
            <h1>注册新用户</h1>
        </div>
        <div class="mod-body">
            <form action="" class="aw-register-form" method="post" id="register_form">
                <ul>
                    <li class="alert alert-danger hide error_message text-left">
                        <i class="icon icon-delete"></i> <em></em>
                    </li>
                    <li>
                        <input class="aw-register-name form-control" type="text" name="username" placeholder="用户名" value="" id="username"/>
                    </li>
                    <li>
                        <input class="aw-register-email form-control" type="text" placeholder="邮箱" name="email" value="" />
                    </li>
                    <li>
                        <input class="aw-register-pwd form-control" type="password" name="password" placeholder="密码"  id="password"/>
                    </li>
                    <div id='pwd-level'>
                        <span>密码强度:</span>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <hr/>
                    <li class="aw-register-verify">
                        <img class="pull-right" width="120" src="http://127.0.0.1:8888/user/get-pic" onclick="this.src='/user/get-pic?'+ Date.now() ">
                        <input type="text" class="form-control" name="v_code" placeholder="验证码" />
                    </li>
                    <li class="last">
                        <label>
                            <input type="checkbox" checked="checked" value="agree" /> 我同意</label> <a href="javascript:;" class="aw-agreement-btn">用户协议</a>
                        <a href="/login" class="pull-right">已有账号?</a>
                        <div class="aw-regiter-agreement hide">
                            <div class="aw-register-agreement-txt" id="register_agreement"></div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <button type="submit" class="btn btn-large btn-blue btn-block">
                            注册
                        </button>
                    </li>
                </ul>
            </form>
        </div>
    </div>

    <script  type="text/javascript">
        
        //用keyup事件：没按一个就发送一个请求，浪费资源  （另一方法：绑定onchange事件）
        // $('#username').on('keyup',function(e) {
        //     let username = $(this).val();
        //     $.ajax({
        //         url:'/user/check-username',
        //         method:"POST",
        //         //content-type默认是键值对
        //         data:'username='+username,
        //         datatype:'JSON',
        //         success:function (data) {

        //             if(data.code === '001'){
        //                 alert("可以注册");
        //             }else{
        //                 alert("用户名")
        //             }
        //         }
        //     })
        // })
        //改进：// 节流（延迟1秒发请求）
        var checkUsername = (function(){
            var timer;
            var prevUsername;
            // 内部函数对外部函数变量的使用，这个是闭包的典型应用，优点: 避免了全局变量
            return function() {
                var that = this;
                // 清空之前的任务 (记住用setTimeout和setInterval之前要清空)
                clearTimeout(timer);
                timer = setTimeout(function(){
                    let username = $(that).val();
                    if(prevUsername === username || username ==''){
                        return;
                    }
                    $.ajax({
                        url:'/user/check-username',
                        method:"POST",
                        //content-type默认是键值对
                        data:'username='+username,
                        datatype:'JSON',
                        success:function (data) {
                            if(data.code === '001'){
                                confirm("可以注册");
                            }else{
                                confirm("用户名已存在")
                            }
                        }
                    });
                    prevUsername = username;
                },800)
            
            }
        })();
        $('#username').on('keyup',checkUsername);

        //密码强度  
        var strongPsw = (function(){
            //验证密码强度
            var regex1 = /\W/;
            var regex2 = /[A-Z]/;
            var regex3 = /[a-z]/
            var regex4 = /\d/;

            var temp;

            return function(password){
                temp=0;
                if(regex1.test(password)) temp++;
                if(regex2.test(password)) temp++;
                if(regex3.test(password)) temp++;
                if(regex4.test(password)) temp++;
                return temp;
            }
        })();

        $('#password').on('keyup',function(){

            var password = $(this).val();
            var result = strongPsw(password);
            var colorArr = ['greenyellow','blue','hotpink','red'];
            var spanElems = $('#pwd-level').find('div');

           for (var i = 0; i < spanElems.length; i++) {
               spanElems[i].style.backgroundColor = '';
           }

           for (var j = 0; j < result; j++) {
               spanElems[j].style.backgroundColor = colorArr[j];
           }


        });

        //提交表单注册
        $('#register_form').on('submit',function(e){

            // 禁止默认提交事件
            e.preventDefault();
            var formData = $(this).serialize(); // username=xxx&email=xxx
            $.ajax({
                url:'/user/do-register',
                method:'POST',
                data:formData,
                datatype:'JSON',
                success:function(data){
                    if(data.code === '001'){
                        if(confirm(data.msg+'是否去登录？')){
                            window.location = '/user/login'
                        }
                    }else{
                        alert('注册失败：' + data.msg)
                    }
                }
            })
        })


    </script>
{{/block}}
